body{
    background: linear-gradient(rgb(85, 5, 114), darkblue);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.central{
    width: 500px;
    background: white;
    border: radius 10px;
    box-shadow: 5px 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: rgb(105, 7, 92);
}
.central button{
    width: 150px;
    background: rgb(purple, blue, darkblue);

}
img{
    width: 250px;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
}

button {
    background-color :rgba(0, 0, 0, 0.891);
    color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 5px black;
}